<% @owner = Bug.find(bug_id) if bug_id %>
<%= form_for(Comment.new) do |f| %>
  <div class="form-group">
    <%= f.label :content  %>
    <%= f.text_area :content, placeholder: 'comment', class: 'form-control' %>
  </div>

    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :owner_type, value: @owner.class.to_s %>
    <%= f.hidden_field :owner_id, value: @owner.id %>

    <%= f.submit "comment", class: 'btn btn-info' %>
<% end %>
