<div class="page-header">
  <h1>Projects</h1>
</div>
<div class="menubar">
  <div class="container">
    <%= link_to 'New project', new_project_path , :class => "btn btn-primary pull-right"%>
  </div>
</div>
<div class="clearfix"></div>
<% if @projects.any? %> 
  <div class="projects">
  <% @projects.each do |project| %>
  <div class="col-md-6 project">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">
          <h3><%= link_to project.name, project %></h3>
        </div>
        <div class="pull-right">
            <%= link_to 'Edit', edit_project_path(project), :class => "btn-sm btn btn-warning" %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn btn-danger" %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="progress">
        <% completed_stories = project.stories.where(state: 'Accepted').count.to_f %>
         <% total_stories = project.stories.count.to_f %>
        <div data-toggle="tooltip" title="<%= completed_stories.to_i %>" class="progress-bar progress-bar-success" style="width: <%= (completed_stories/total_stories)*100 %>%;">
        </div>
      </div>
      <div class="panel-body">
        <h3>Hour chart</h3>
        <% done, current, total = project.progress %>
        <%= pie_chart({"Completed" => done, "Ongoing" => current, "Backlog" => (total-done-current)})  %>
        <%= time_ago_in_words(project.created_at, include_seconds: true) %> ago
      </div>
    </div>
  </div>
  <% end %>
  </div>
<% else %>
  <div class="row">
    <p class="text-warning">Sorry, no projects to show</p>
  </div>
<% end %>  