<div class="row">
  <div class="container">
    <h1>Listing projects <%= link_to 'New Project', new_project_path , :class => "btn btn-primary pull-right"%></h1>
    <% if @projects.any? %>   
      <% @projects.each do |project| %>
        <div class="panel panel-default col-md-4">
          <div class="panel-heading">
            <div class="panel-title">
              <h3><%= link_to project.name, project %>
              <div class="pull-right clearfix">
                <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-warning" %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              </div>
              <div class="clearfix"></div>
            </h3>
            </div>
          </div>
          <div class="panel-body">
            <%= time_ago_in_words(project.created_at, include_seconds: true) %> ago
          </div>
        </div>
      <% end %>
      <br>
    <% else %>
      <div class="row">
        <p class="text-warning">Sorry, no projects to show</p>
      </div>
    <% end %>  
  </div>
</div>
