<div class="row">
  <div class="container">
    <div class="row">
      <h3>
      <%= @project.name.slice(0,1).capitalize + @project.name.slice(1..-1) %>
      <%= link_to 'Edit', edit_project_path(id: params[:id]), class: "btn btn-warning" %> 
      <%= link_to 'Back', projects_path , class: "btn btn-danger" %>
      <span class="pull-right">
        <%= link_to 'Add People', resource_project_path, class: "btn btn-primary" %>
        <%= link_to "Add story to backlog", new_project_story_path(project_id: params[:id]),class: "btn btn-primary" %>
      </span>
        Total:<span class="badge text-info"><%= @project.stories.count %></span>
        Backlogs:<span class="badge text-info"><%= @project.backlog_stories.count %></span>
        Completed:<span class="badge text-info"><%= @project.completed_stories.count %></span>
      </h3>
    </div>

    <div class="row">
      <h4>Backlogs</h4>
      <% if @project.backlog_stories.any? %>
        <% @project.backlog_stories.each do |story| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row container">
                <span class="text-info">
                  <%= link_to story.name, project_story_tasks_path(story_id: story.id,project_id: story.project_id) %>
                  <%= link_to "Edit", edit_project_story_path(project_id: story.project_id, id: story.id),class: "btn btn-warning" %>
                  <%= link_to "Delete", project_story_path(project_id: story.project_id, id: story.id), :method => :delete, class: "btn btn-danger",data: { confirm: 'Are you sure?' } %>
                </span>
                <span class="pull-right">
                  Due Date: <%= story.due_date %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
      <% end %>
    </div>
    <div class="row">
      <% if @project.rest_stories.any? %>
      <h4>Others</h4>
        <% @project.rest_stories.each do |story| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row container">
              <div class="label state-<%= story.state.parameterize %>"><%= story.state %></div>
                <div class="text-info">
                  <%= link_to story.name.capitalize, project_story_tasks_path(story_id: story.id,project_id: story.project_id) %>
                  <%= link_to "Edit", edit_project_story_path(project_id: story.project_id, id: story.id),class: "btn btn-warning" %>
                </div>
                Completed <span class="badge"><%= story.tasks.where(state: 'Done').count %></span>
                Pending <span class="badge"><%= story.tasks.where(state: 'Not Started').count %></span>
                In Progress <span class="badge"><%= story.tasks.where(state: 'In Progress').count %></span>
                <div class="pull-right">
                  <span class="label label-default">Due Date: <%= story.due_date.strftime("%d-%m-%Y") %></span>
                </div>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" data-toggle="tooltip" title="10" style="width: 35%"></div>
              <div class="progress-bar progress-bar-warning" data-toggle="tooltip" title="5" style="width: 20%"></div>
              <div class="progress-bar progress-bar-danger" data-toggle="tooltip" title="4" style="width: 45%"></div>
            </div>
            <div class="panel-body"></div>
          </div>
        <% end %>
      <% else %>
      <% end %>
    </div>

    <% if @project.uploads.any? %>
      <% @project.uploads.each do |upload| %>
      <%= upload.name %> |
      <%= link_to upload.link_url do %> 
        <button class="btn btn-danger">download</button><br>
      <% end %><br>
      <% end %>
    <% end %>

    <%= form_for Upload.new, html: { multipart: true } do |f| %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.hidden_field :project_id, value: @project.id %>
      <%= f.file_field :link %>
      <p>
        <%= f.label :remote_link_url, "OR paste upload URL" %><br/>
        <%= f.text_field :remote_link_url, class: 'form-control' %>
      </p>
      <%= f.submit "submit upload" ,class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>
