<div class="container">
  <div class="container">
    <div class="row">
      <h3>
      <%= @project.name.slice(0,1).capitalize + @project.name.slice(1..-1) %>
      <%= link_to 'Edit', edit_project_path(id: params[:id]), class: "btn btn-warning" %> 
      <%= link_to 'Back', projects_path , class: "btn btn-danger" %>
      <span class="pull-right">
        <%= link_to 'Add People', resource_project_path, class: "btn btn-primary" %>
        <%= link_to "Add story to backlog", new_project_story_path(project_id: params[:id]),class: "btn btn-primary" %>
      </span>
        Total:<span class="badge text-info"><%= @project.stories.count %></span>
        Backlogs:<span class="badge text-info"><%= @project.backlog_stories.count %></span>
        Completed:<span class="badge text-info"><%= @project.completed_stories.count %></span>
      </h3>
    </div>

    <div class="row story">
      <h4>Backlogs</h4>
      <% if @project.backlog_stories.any? %>
        <% @project.backlog_stories.each do |story| %>
          <%= render 'story', story: story %>
        <% end %>
      <% else %>
        <p class="text-success">Yaay! No backlogs!</p>
      <% end %>
    </div>
    <div class="row story">
      <% if @project.rest_stories.any? %>
      <h4>Rest of the stories</h4>
        <% @project.rest_stories.each do |story| %>
          <%= render 'story', story: story %>
        <% end %>
      <% else %>
      <% end %>
        <div class="row container">
            <div class="col-md-4">
            <h2>Add new upload</h2>
            <%= form_for Upload.new, html: { multipart: true } do |f| %>
              <div class="form-group">
                <%= f.label :name  %> 
                <%= f.text_field :name , :class => "form-control" %>
              </div>
              <%= f.hidden_field :user_id, value: @current_user.id %>
              <%= f.hidden_field :project_id, value: @project.id %>
              <div class="form-group">
                <%= f.label :link , "File"%> 
                <%= f.file_field :link , :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :remote_link_url, "Or paste file URL" %> 
                <%= f.text_field :remote_link_url , :class => "form-control" %>
              </div>
              <%= f.submit "Upload" ,class: 'btn btn-primary' %>
            <% end %>
            </div>
              <div class="col-md-8">
              <h2>Project Uploads</h2>
              <% if @project.uploads.any? %>
              <table class="table">
                <thead>
                  <th>Filename</th>
                  <th>Links</th>
                </thead>
                <tbody>
                <% @project.uploads.each do |upload| %>
                  <tr>
                  <td>
                  <%= upload.name %>
                  </td>
                  <td>
                  <%= link_to upload.link_url do %> 
                    <button class="btn btn-danger">download</button><br>
                  <% end %>
                  </td>
                  </tr>
                <% end %>
                </tbody>
                </table>
              <% else %>
                <p>No Uploads yet</p>
              <% end %>
            </div>
        </div>
    </div>
</div>
