<div class="row">
  <div class="container">
    <div class="row">
      <h3>
      <%= @project.name.slice(0,1).capitalize + @project.name.slice(1..-1) %>
      <%= link_to 'Edit', edit_project_path(id: params[:id]), class: "btn btn-warning" %> 
      <%= link_to 'Back', projects_path , class: "btn btn-danger" %>
      <%= link_to "Add story to backlog", new_project_story_path(project_id: params[:id]),class: "btn btn-primary pull-right" %>
      </h3>
    </div>
    <div class="row">
      <% if @project.stories.any? %>
        <% @project.stories.each do |story| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row container">
                <span class="text-info">
                  <%= link_to story.name, project_story_tasks_path(story_id: story.id,project_id: story.project_id) %>
                  <%= link_to "Edit", edit_project_story_path(project_id: story.project_id, id: story.id),class: "btn btn-warning" %>
                </span>
                <span class="pull-right">
                  Due Date: <%= story.due_date %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
