<%= form_for(@bug) do |f| %>
  <div class="form-group">
    <%= f.label :content  %>
    <%= f.text_area :content, placeholder: 'describe bug', class: 'form-control' %>
  </div>

  	<%= f.hidden_field :story_id, value: @story.id %>

    <%= f.submit "add bug", class: 'btn btn-danger' %>
<% end %>
