<% if activity.trackable %> 
	<% if activity.trackable.owner_type == 'Story' %>
  	<%= link_to  project_story_tasks_path(project_id: activity.trackable.owner.project_id, story_id: activity.trackable.owner_id)  do %> 
		<span class="activity-owner"><%=activity.owner.email%></span> created a new comment
	on story - <%= activity.trackable.owner.name %>.
		<% end %>
	<% else %>
		 <%= link_to  project_story_tasks_path(project_id:  activity.trackable.owner.story.project_id, story_id: activity.trackable.owner.story_id)  do %> 
		<span class="activity-owner"><%=activity.owner.email%></span> created a new comment
	on bug - <%= activity.trackable.owner.content %>.
		 <% end %>			
	<% end %>
<% else %>
  	<span class="activity-owner"><%=activity.owner.email%></span> created a comment which has since been removed.
<% end %>