<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <%= link_to "Synergy", root_path, :class => "navbar-brand" %>
      <%= form_tag "/search", id: 'search-form', method: 'get', class: 'navbar-form navbar-left' do %>
      <div class="form-group">
         <%= text_field_tag :search, params[:search], placeholder: "Search", id: 'search-text', value: '', 
         class: 'form-control'  %>
      </div>
      <% end %>
  </div>
  <div class="container-fluid"> 
  <ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li><%= link_to "Analytics", analytics_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <b class="caret"></b></a>
        <%= render 'layouts/notifications' %>
      </li>
  <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nil? ? "Guest" :current_user.email %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <% if current_user %>
              <%= link_to "Change password", edit_user_password_path(@resource, reset_password_token: @token) %>
            <% end %>
          </li>
          <li class="divider"></li>
            <% if current_user %>
              <li><a href="#">Profile</a></li>
              <li>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Log in', new_user_session_path %>
              </li>
              <li>
                <%= link_to 'Register', new_user_registration_path %>
              </li>
            <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>